<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {{#linkTo 'home' class='brand'}}AgCat{{/linkTo}}
      <div class="pull-right">
        <a class="btn btn-primary" {{bindAttr href="App.Bookmarklet.href"}}>Sign up</a>
      </div>
    </div>
  </div>
</div>
